*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  background-color: black;
}

.page {
  width: 100%;

  background: black;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.page a {
  text-decoration: none;
  color: white;
}

header{
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  font-family: monospace;
  
} 

header a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.central-box {

  display: grid;
  grid-template-columns: 1fr ;
  width: 100%; 
  height: 75vh;
  gap: 10px;
  padding: 10px;
  padding: 1% 3%; 

  
}


.songs{
  background-color: rgb(40, 40, 41);
  border-radius: 10px;

} 

.favorite-songs { 
  background-color: rgb(40, 40, 41);
  border-radius: 10px;
  
} 


.container-rigth{
  display: flex;
  flex-direction: column;
height: 65vh;

overflow-y: scroll;
  
  padding: 10px;
  gap: 5px; 
  
  
 
}

.box-artist-song {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 0.3fr;
  width: 100%;
  border-radius: 5px;
  background-color: black;

  color: rgb(190, 179, 179);
  padding: 10px;
  font-size: 0.6rem;
  align-items: center;
  gap: 15px
}

.box-artist-song button{
  padding: 2px;
  background-color: rgb(119, 115, 119);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  opacity: 80%;
}

.box-artist-song button:hover{
  background-color: rgb(114, 18, 204);
  transform: scale(1.1);
}

/* Estilos para la barra de desplazamiento */
.container-rigth::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.container-rigth::-webkit-scrollbar-thumb {
  background-color: #888888; /* Color de la barra de desplazamiento */
}

.link {
  text-decoration: none;
  color: white;
}

.play-button {
  cursor: pointer;
}

.play-button:hover {
  fill: rgb(114, 18, 204);
  transform: scale(1.1); 
}

.buttons{
  display: flex;
  justify-content: space-around;
  gap: 2px;
  align-items: center;
} 

.like-button:hover{
  fill: rgb(114, 18, 204) ;
  transform: scale(1.1); 
  

}

.description-head{
display: grid;


grid-template-columns: 1fr 0.6fr 1fr;
color: white;
font-size: 0.9rem;
padding: 10px;


} 

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  background-color: white;
 

}

.footer-controls{

 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
 gap: 5%;
 position: absolute;
 bottom: 0px;
 padding-bottom: 10px;

 width: 100%;
 background-color: rgb(14, 14, 14);

height: 15vh; 
} 


.artist-info-controls{ 
  display: flex;
  flex-direction: column;
  font-size: 0.65rem;
  text-align: center;
  height: 15px;
  margin-bottom: 10px;

  
}

.box-controls {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 3px; 

  

}

.button-control:hover{
  fill: rgb(114, 18, 204) ;
  cursor: pointer;
 
}


.home {
  width: 70%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
gap: 10px;
padding: 1% 4%;
height: 60vh;
}
.box-home {
  width: 100%;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
  border-radius: 10px;
  
} 

.box-home:hover{
scale: 1.02;
}


.search {
  margin: 1% 5%;
  width: 20%;
  height: 25px;
  border-radius: 5px;
 background-color: rgb(54, 47, 47);
 border: none;
  padding: 1%;
  font-family: monospace;
  color: whitesmoke;
}


@media screen and (max-width: 600px){
  .button-control:hover{
    fill: white ;

   
  }

  .button-control:active{
    fill:rgb(114, 18, 204)  ;
  }
}